.char-card {
  display: flex;
  flex-direction: column;
  min-height: 20em;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding-bottom: 0.5em;

  /* background-image: linear-gradient(to right top, #ba1e68, #fcfbfe); */
  min-width: 240px;
  max-width: 300px;
  /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.858);
  border-radius: 10px; */
}

.char-card img {
  max-height: 300px;
}

.char-card h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
