.char-card {
  display: flex;
  flex-direction: column;
  min-height: 20em;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding-bottom: 0.5em;
  background-color: var(--card-color);
  border: 2px solid var(--text-color);
  border-radius: 10px;
  min-width: 240px;
  max-width: 300px;
}

.char-card img {
  max-height: 300px;
}

.char-card h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
