.counter-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.25rem;
}

.count-number {
  color: var(--main-bg-colour);
  padding: 6px 12px;
  border-radius: 60%;
  background-color: var(--text-color);
}
