.help-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  z-index: 99;
  padding: 1em 0.5em;
}

.help-main .char-card {
  min-height: 5em;
  min-width: 120px;
}

.help-main .char-card img {
  max-height: 150px;
}
