.home-wrapper {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  color: white;
  background-image: linear-gradient(to right top, #1d1135, #7649fe);
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  justify-content: center;
  padding: 3em 10em;
}

.home-main p {
  text-align: center;
}

.home-main h1 {
  font-size: 2.5rem;
}

.char-cards {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.home-main button {
  font-size: 2.5rem;
  margin-bottom: 2em;
  background-color: white;
  border: none;
  padding: 0.25em;
  border-radius: 3px;
}

.home-main a {
  color: black;
}

@media only screen and (max-width: 700px) {
  .home-main {
    padding: 1em 1em;
    gap: 0;
  }

  .char-cards {
    padding: 2em 0.5em;
  }
}

@media only screen and (min-width: 2000px) {
  .home-main {
    padding: 3em 20em;
  }
}
