.nav-bar {
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--main-bg-colour);
  min-width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.nav-bar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
}

#homeBtn a {
  font-size: 2rem;
  color: var(--text-color);
}

.nav-bar h1 {
  font-size: 2rem;
  font-weight: 700;
}

.play-btn a i {
  font-size: 1.75rem;
  color: var(--text-color);
}

#homeBtn {
  font-size: 2rem;
  background-color: transparent;
  border: 3px solid var(--text-color);
  border-radius: 5px;
  font-weight: 700;
}

#homeBtn:hover {
  background-color: var(--button-color);
  color: white;
}

.nav-bar button {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
}

a {
  color: var(--main-bg-colour);
  text-decoration: none;
}

a:visited {
  color: rgb(48, 48, 48);
}

@media only screen and (max-width: 700px) {
  .nav-bar button {
    font-size: 1rem;
  }

  .play-btn a i {
    font-size: 1.25rem;
  }
}
