.puzzle-wrapper {
  overflow: scroll;
  position: relative;
}

.puzzle-wrapper-focused {
  overflow: scroll;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}

.normal {
  filter: none;
}

.focused {
  filter: brightness(20%);
  z-index: -4;
}

/* 
.choice-box {
  display: border-box;
  border-radius: 70px;
  height: 100px;
  width: 100px;
  border: 5px dashed red;
  background-color: rgba(255, 255, 255, 0.659);
  position: relative;
} */
