.scores-wrapper {
  min-height: 100vh;
  background-color: var(--main-bg-colour);
}

.scores-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
  justify-content: center;
  padding: 1em 10em;
}

.scores-tables {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
}

.scores-tables h2 {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: underline;
}

.scores-tables table {
  color: var(--text-color);
}

tbody tr:nth-child(odd) {
  background-color: rgba(48, 48, 48, 0.116);
}

.scores-tables th,
.scores-tables td {
  padding: 0.6em 1.6em;
}

.scores-tables th {
  font-weight: 700;
}

@media only screen and (max-width: 700px) {
  .scores-main {
    padding: 1em 0em;
    gap: 1em;
  }
}

@media only screen and (min-width: 2000px) {
  .scores-main {
    padding: 1em 20em;
  }
}
