.scores-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  justify-content: center;
  padding: 3em 10em;
}

.scores-tables {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
}

.scores-tables h2 {
  text-align: center;
  font-size: 1.5rem;
}

.scores-tables table {
  border: 2px solid black;
  background-image: linear-gradient(to right top, #655ec2, #c75cb6, #ff6a96);
  color: white;
}

.scores-tables th,
.scores-tables td {
  padding: 0.2em 1em;
}

@media only screen and (max-width: 700px) {
  .scores-main {
    padding: 0.5em 0em;
    gap: 0;
  }
}
